.mainHeader {
    position: sticky;
    top: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.Header  {
    display: flex;
    gap: 20px;
    height: 100%;
    width: 100%;
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 5px 5px 5px #888888;
    border: 1px solid grey;
    background-color: black;
    color: #4cc8ff;
}

.Header a {
    align-self: center;
    cursor: pointer;
    text-decoration: none;
    color: #4cc8ff;
}

.Header div {
    margin-left: auto;
    text-align: center;
    align-self: center;
}